<nav class="navbar">
  <div class="nav-brand">HACKLINK TECH.INC</div>
  <ul>
    <li><a href="/">Dashboard</a></li>
    <li><a href="/complaints">Complaints</a></li>
    <% if (user && user.username === "admin") { %>
      <li><a href="/admin">Admin Panel</a></li>
    <% } %>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
